
#title{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.inputs{

  margin: 50px;
}
.btn {
  margin-left: 50px;
}
.obiective > div
{
float: left;
margin-left: 50px;
margin-top: 40px;
}
.obiective > div li:hover{
  background-color: #0d6efd;
  cursor: pointer;
}
.card{
  width:450px;
}
